*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #6883ba;
    color: #f9f9f9;;
}

header{
	background-color: #dd2d4a;
	margin: 0;
	padding: 1rem 0;
    text-align: center;
}

ul{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
li {
	display: inline;
    margin-right: 1rem;
}
li a{
	margin: 10px;
	color: #f9f9f9;
	text-decoration: none;
}

footer{
	background-color: #dd2d4a;
	text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

img{
	width: 50%;
	height: auto;
	border-radius: 50%;
}
.centered{
	position: relative;
	display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.content-panel{
	width: 100%;
	height: auto;
	margin: 10px;
}
.content{
	margin: 10px;
	display: flex;
}
.line{
	background-color: #111111;
	width: 100%;
	height: 10px;
}
.content-item{
	position: relative;
    background-color: #cbeef3;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 70px;
    height: 400px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 700px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img1.jpeg');
}
.card[for="c2"] {
    background-image: url('./img2.jpeg');
}
.card[for="c3"] {
    background-image: url('./img3.jpeg');
}
.card[for="c4"] {
    background-image: url('./img4.jpeg');
}


.banner{
    margin-top: -50px;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.product{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 170px;
    z-index: 2;
    width: 500px;
    transition: 0.7s;
}
.product .soda{
    position: absolute;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
}
.soda{
    --left: 0px;
    background: 
        var(--url) var(--left),
        url(images/mockup.png) 0 0;
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    transition: 0.8s;
    mask-image: url(images/mockup.png);
    mask-size: auto 100%;
}
.soda:nth-child(2){
    opacity: 0;
}
.product:hover{
    bottom: 300px;
}
.product:hover .soda:nth-child(2){
    opacity: 1;
    --left: 500px;
}
.product:hover .soda:nth-child(1){
    opacity: 0;
    --left: 500px;
}

.rock{
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    pointer-events: none;
}
.rock img:nth-child(1){
    position: absolute;
    height: 170px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    transition: 0.7s;
    z-index: 1;
}
.rock img:nth-child(2){
    position: absolute;
    height: 50%;
    left: 0;
    bottom: 0;
    transition: 0.7s;
}
.rock img:nth-child(3){
    position: absolute;
    height: 100%;
    right: 0;
    bottom: -100px;
    rotate: -25deg;
    transition: 0.7s;
}
.banner:has(.product:hover) .rock img:nth-child(1){
    transform: translateX(-50%) translateY(50px);
}
.banner:has(.product:hover) .rock img:nth-child(2){
    transform: translateX(-100px) translateY(100px);
}
.banner:has(.product:hover) .rock img:nth-child(3){
    transform: translateX(100px) translateY(100px);
}
@media screen and (max-width: 1023px) {
    
    .soda{
        width: 400px;
    }
}
@media screen and (max-width: 767px) {
    .soda{
        width: 250px;
    }
    header img{
        display: none;
    }
    header .author{
        width: 100%;
    }
    input:checked + label {
        width: 100px;
    }

}

